<html>
<body>

<h1>Hello World!</h1>

The Full Path was:<br/>
<%= @output_var %>

<p/>

The Remaining Path was:<br/>
<%= @the_rest %>

<ol>
<% params.each do |key, value| %>
  <li><strong> <%= key %></strong>: <%= value %></li>
<% end %>
</ol>


</body>

</html>

